<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net462" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net462" />
  <package id="NLog" version="4.3.3" targetFramework="net462" />
  <package id="PostSharp" version="4.3.20" targetFramework="net462" />
  <package id="RabbitMQ.Client" version="4.0.1" targetFramework="net451" />
  <package id="Topshelf" version="4.0.1" targetFramework="net462" />
  <package id="Topshelf.NLog" version="4.0.1" targetFramework="net462" />
</packages>